
<!--Navbar -->



<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="navbar-nav">
    <div class="nav-item active">
   <!--   <a class="nav-link" href="#">Echo!</a>  -->
        <a class="nav-link" href="/login">Login</a>
         <a class="nav-link" href="/welcome">welcome</a>
    </div>
   
  </div>
</nav> 


<!--<nav class="navbar navbar-expand-sm ">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/welcome" routerLinkActive="active">Welcome</a>
</nav>  -->

